<section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Contact Us</h2>
                    <h3 class="section-subheading text-muted"></h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                        <div class="row">
                            <div class="col-md-6">
				<address>
  					<strong>Government U. P. School, Valampoor</strong><br>
  					North Mazhuvannoor PO<br>
 					Mudavoor Via<br>
					Ernakulam district<br>
					Kerala, 686 669<br>
				</address>
                            </div>
                            <div class="col-md-6">
                            </div>
                            <div class="clearfix"></div>                            
                        </div>
                </div>
            </div>
        </div>
    </section>
